<h1>Here is Your Profile!</h1>

{% if photos %}
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>

        <form method = "post" action = "{{url_for('deletePhoto', pid =photo[1])}}">
            <input type = "submit" name = "DeletePhoto" value = "Delete Photo">
        </form>
    {% endfor %}
    </ul>
{% endif %}


{% if albums %}
<h2>Here are your albums</h2>
    <ul>
    {% for album in albums %}

        <li><a href='/browse/{{album[1]}}'>{{album[0]}}</a></li>

        <form method = "post" action = "{{url_for('deleteAlbum', aid = album[1])}}">
            <input type = "submit" name = "DeleteAlbum" value = "Delete Album">
        </form>
        
    {% endfor %}
    </ul>
{% endif %}

<button>
    <a href="/"> Home </a>
</button>

